<div class="container-fluid">
  <div class="page-container">
    <div class="hero-container text-center">
      <div class="logo">
        <img src="/assets/bot-icon.png" alt="dfs golf bot avatar" />
      </div>
      <h2>DFS Golf Bot</h2>
      <h5>Elevate Your Draft Strategy with our Advanced Tools and Visuals.</h5>
      <a href="/rank-table" class="btn btn-outline-primary mt-5" role="button"
        >Draft Table</a
      >
    </div>
    <div class="product-container">
      <div class="rank-chart">
        <div class="card">
          <div class="product-title">
            <h3 class="card-title">TrendsSpotter</h3>
            <p class="product-text">Find players with momentum changes!</p>
          </div>
          <div class="chart-container">
            <!-- <app-trend></app-trend> -->
          </div>
          <div class="card-body">
            <div class="bullets">
              <p>
                <strong>Emerging Talent Identification</strong>: Track golfers'
                performance trends over time to spotlight under-the-radar
                players gaining momentum.<br /><br />

                <strong>Data-Driven Decisions</strong>: Utilize percentile rank
                analysis to make informed picks, identifying golfers poised to
                outperform expectations.<br /><br />

                <strong>Strategic Advantage</strong>: Gain insights into
                performance trends, giving you a competitive edge by spotting
                high-potential, lower-ranked players early.<br /><br />
              </p>
            </div>
            <div class="button text-center">
              <a
                href="/trend"
                class="btn btn-outline-primary mt-2"
                id="button"
                role="button"
                >Try it!</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="scatter-chart">
        <div class="card">
          <div class="product-title">
            <h3 class="card-title">OptimalDraft</h3>
            <p class="product-text">Learn by analyzing past DK contests!</p>
          </div>
          <div class="chart-example mb-3">
            <!-- <app-optimaldraft></app-optimaldraft> -->
          </div>
          <div class="card-body">
            <div class="bullets">
              <p>
                <strong>Efficiency Mapping</strong>: Discover the sweet spot
                between DraftKings salaries and average points per game (APPG)
                to identify your best draft strategy.<br /><br />

                <strong>Top Performer Insights</strong>: Our library of top 10
                tournament winners overlayed on top of their pre-tournament
                salary x APPG scatter plots will help you visualize winning
                teams.<br /><br />

                <strong>Strategic Investment</strong>: Visualize winning teams
                by studying previous winning combinations. Learn how to balance
                your roster and put the odds in your favor.<br /><br />
              </p>
            </div>
            <div class="button text-center">
              <a
                href="/draft"
                class="btn btn-outline-primary mt-2"
                id="button"
                role="button"
                >Try it!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
