:host {
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
strong {
  font-weight: 800;
}

.container-fluid {
  padding: 2rem;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
.logo img {
  height: 130px;
  margin-bottom: 20px;
}
.hero-container {
  text-align: center;
  padding: 2rem;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rank-chart,
.scatter-chart {
  width: 100%;
}
.card {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  margin-bottom: 30px;
}

.table-container app-rank-table {
  display: block;
}

.table-container app-rank-table ::ng-deep {
  padding-bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bullets {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.card-body {
  padding: 20px 20px;
}
.rank-card-body {
  padding: 0px 20px;
}
.product-container {
  margin: 0;
  padding: 0;
}

.product-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(46, 204, 113, 0.2);
  padding-top: 20px;
  padding-bottom: 15px;
  border-radius: 12px;
}

@media (max-width: 850px) {
  .custom-stack {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card {
    width: 100%;
    border: none;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 0.8rem;
  }
  .container-fluid {
    padding: 0px;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  .hero-container {
    min-height: 65vh;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin-top: 25px;
  }

  .card {
    width: 95vw;
    padding: 0px;
  }

  .card-text {
    font-size: 1rem;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .bullets {
    margin-top: 0px;
  }
  .product-text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-title {
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
  }

  h2 {
    font-size: 2rem;
  }
  .table-container app-rank-table ::ng-deep {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .scatter-chart,
  .rank-chart {
    padding-bottom: 25px;
  }
}
